/* ШРИФТИ */
@import url(../css/fonts.css);

body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    user-select: none;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 460px;
    width: 350px;
    background-color: rgb(37, 36, 36);
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI";
    border:1px solid rgb(104, 95, 93);
}

.calendar_top {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    border-bottom: 1px solid rgb(104, 95, 93);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

#top_hour {
    height: 45px;
    font-size: 45px;
    color: whitesmoke;
    margin: 0;
    position: absolute;
    padding: 0;
    font-weight: 100;
    top: 6px;
}

#top_date {
    bottom: 20px;
    left: 25px;
    margin: 0;
    font-size: 14px;
    position: absolute;
    height: 15px;
    color:rgb(115, 221, 221);
}

.calendar_mid {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(219, 210, 210);
    padding: 0 20px;
}

.calendar_month {
    display: flex;
    width: 100%;
    font-weight: 350;
    position: relative;
}

.calendar_week {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 95%;
}

.calendar_week p {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#btn_date {
    margin-left : 4px;
}

#btn_date:hover {
    color: white;
}

#btn_left {
    position: absolute;
    right: 55px;
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#btn_left:hover {
    color: white;
    animation: scale 0.1s;
    transform: scale(1.2);
}

#btn_right {
    position: absolute;
    right: 5px;
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#btn_right:hover {
    color: white;
    animation: scale 0.1s;
    transform: scale(1.2);
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

.days {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(219, 210, 210);
    width: 92%;
}

.day {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 44px;
    height: 37px;
    box-sizing: border-box;
}

.monthes {
    margin: 0 auto;
    margin-top: -40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(219, 210, 210);
    width: 92%;
}

.month {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 78px;
    height: 68px;
    box-sizing: border-box;
}

.month:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
}

.month_last {
    margin: 1px;
    color: rgba(128, 128, 128, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 78px;
    height: 60px;
    box-sizing: border-box;
}

.month_last:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
}

.day_last {
    color: rgba(128, 128, 128, 0.452);
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 44px;
    height: 37px;
    box-sizing: border-box;
}

.day:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
}

.day_last:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
}

@keyframes makeBorder {
    0%{
        border: 2px solid rgba(219, 210, 210, 0);
    }

    100%{
        border: 2px solid rgb(219, 210, 210);
    }
}

.years {
    margin: 0 auto;
    margin-top: -40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(219, 210, 210);
    width: 92%;
}

.year {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 78px;
    height: 68px;
    box-sizing: border-box;
}

.year:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
}

.year_last {
    margin: 1px;
    color: rgba(128, 128, 128, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 78px;
    height: 60px;
    box-sizing: border-box;
}

.year_last:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
}

.current{
    background-color: rgb(37, 36, 36);
    border: 2px solid rgb(115, 221, 221); 
    color: rgb(115, 221, 221); 
}