/* ШРИФТИ */
@import url(../css/fonts.css);

body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    user-select: none;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 460px;
    width: 350px;
    background-color: rgb(37, 36, 36);
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI";
    border:1px solid rgb(104, 95, 93);
}

.calendar_top {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    border-bottom: 1px solid rgb(104, 95, 93);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

#top_hour {
    height: 45px;
    font-size: 45px;
    color: whitesmoke;
    margin: 0;
    position: absolute;
    padding: 0;
    font-weight: 100;
    top: 6px;
}

#top_date {
    bottom: 20px;
    left: 25px;
    margin: 0;
    font-size: 14px;
    position: absolute;
    height: 15px;
    color:rgb(115, 221, 221);
}

.calendar_mid {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(219, 210, 210);
    padding: 0 20px;
}

.calendar_month {
    display: flex;
    width: 100%;
    font-weight: 350;
    position: relative;
}

.calendar_week {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 95%;
}

.calendar_week p {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#btn_date:hover {
    color: rgb(115, 221, 221); 
}

#btn_left {
    position: absolute;
    right: 55px;
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#btn_left:hover {
    color: rgb(115, 221, 221); 
}

#btn_right {
    position: absolute;
    right: 5px;
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#btn_right:hover {
    color: rgb(115, 221, 221); 
}

.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(219, 210, 210);
    width: 100%;
}

.day {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 44px;
    height: 50px;
    box-sizing: border-box;
}

.day_last {
    color: gray;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    width: 44px;
    height: 50px;
    box-sizing: border-box;
}

.day:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
}

@keyframes makeBorder {
    0%{
        border: 2px solid rgba(219, 210, 210, 0);
    }

    100%{
        border: 2px solid rgb(219, 210, 210);
    }
}

.monthes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 55%;
    color: #857979;
    margin-top: -20px;
}

.month {
    width: 30%;
    height: 25%; 
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    box-sizing: border-box;
    font-size: 16px;
    color: #857979;
}

.month:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
    color: rgb(219, 210, 210);
}

.years {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #857979;
    overflow-y: auto;
    max-height: 275px; 
    margin-top: -20px;
}

.year, .year_last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    margin: 3px;
    height: 30%;
    box-sizing: border-box;
}

.years::-webkit-scrollbar {
    width: 5px; /* Ширина скролбару */
}
.years::-webkit-scrollbar-thumb {
    background-color: rgb(115, 221, 221);
    border-radius: 10px;
    height: 25px;
}

.year:hover {
    animation: makeBorder 0.4s;
    border: 2px solid rgb(219, 210, 210);
    color: rgb(219, 210, 210);
}

.line {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 350px;
    height: 1px;
    background-color: #857979;
    position: absolute;
}

.current {
    border: 2px solid rgb(115, 221, 221); 
    color:rgb(115, 221, 221);
}

.current:hover {
    color: white;
    animation: curr_border 0.3s;
    border: 2px solid white;
}

@keyframes curr_border {
    0%{
        border: 2px solid rgb(115, 221, 221); 
    }

    100%{
        border: 2px solid white; 
    }
}

.mouseoff {
    animation: msoff 0.2s;
}

@keyframes msoff {
    0%{
        border: 2px solid white;
    }

    100%{
        border: none;
    }
}

.appear {
    animation: app 1.5s;
}

@keyframes app {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}